/* dark.css */

/* dark mode adjustments */
/* color variables */
:root {
    --dark-main-bg: 38, 12, 65;
    --dark-main-heading: 222, 222, 237;
    --dark-main-text: 239, 239, 246;
    --dark-muted-text: 206, 206, 228;
    --dark-primary-accent: 37, 37, 116;
    --dark-secondary-accent: 96, 32, 64;
    --dark-tertiary-accent: 32, 50, 96;
    --dark-black: 255, 255, 255;
    --dark-white: 26, 26, 26;
}

/* screen size adjustments */
@media (max-width: 768px) {
    .dark-mode .blog-sidebar {
        background-color: rgba(var(--dark-white), 0.3);
    }
}

/* navbar */
.dark-mode .blog-masthead {
    background: rgb(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}
.dark-mode .blog-nav li a:link, .dark-mode .blog-nav li a:visited, .dark-mode .blog-nav li a:active {
    color: rgb(var(--dark-main-text));
}
.dark-mode .blog-nav li a:hover, .dark-mode .blog-nav li a:focus {
    color: rgb(var(--dark-main-text));
    border-color: rgb(var(--dark-primary-accent));
    background: rgba(var(--dark-tertiary-accent), 0.8);
}
.dark-mode .sub-menu {
    background: rgb(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}
.dark-mode .sm-blue a .sub-arrow {
    border-color: rgba(var(--dark-black), 0.8) transparent transparent transparent;
}
.dark-mode .navbar-toggler {
    border-color: rgb(var(--dark-black));
}
.dark-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
/* mobile navbar */
.dark-mode .small-nav li {
    border-bottom: 1px solid rgb(var(--dark-primary-accent));
}
.dark-mode .small-nav li a:hover, .small-nav li a:focus {
    border: none;
    background: rgba(var(--dark-primary-accent), 0.5);
}

/* body and general elements */
body.dark-mode {
    background: linear-gradient(rgb(var(--dark-secondary-accent)), rgb(var(--dark-main-bg)), rgb(var(--dark-tertiary-accent)));
    color: rgb(var(--dark-main-text));
}
.dark-mode h1, .dark-mode .h1,
.dark-mode h2, .dark-mode .h2,
.dark-mode h3, .dark-mode .h3,
.dark-mode h4, .dark-mode .h4,
.dark-mode h5, .dark-mode .h5,
.dark-mode h6, .dark-mode .h6 {
    color: rgb(var(--dark-main-heading));
}
/* on-page links */
.dark-mode a:link, .dark-mode a:active, .dark-mode a:visited {
    color: rgb(var(--dark-main-heading));
}
.dark-mode a:hover, .dark-mode a:focus {
    color: rgb(var(--dark-main-text));
    border-bottom: 2px solid rgb(var(--dark-primary-accent));
}
/* border of blockquoted text */
.dark-mode blockquote {
    border-color: rgb(var(--dark-secondary-accent));
}
/* divider line */
.dark-mode hr {
    border-top: 2px solid rgb(var(--dark-tertiary-accent));
}

/* home page */
/* blog title */
.dark-mode .blog-title a:link, .dark-mode .blog-title a:visited, .dark-mode .blog-title a:active {
    color: rgb(var(--dark-main-heading));
}
.dark-mode .blog-title a:hover, .dark-mode .blog-title a:focus {
    color: rgb(var(--dark-main-text));
    border-color: transparent;
}
/* blog description */
.dark-mode .blog-description {
    color: rgb(var(--dark-muted-text));
    background: linear-gradient(rgb(var(--dark-white)), transparent);
}

/* post cards */
/* individual blog post cards */
.dark-mode .blog-post {
    background: rgba(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}
/* categories */
.dark-mode .categories ul {
    background: rgba(var(--dark-primary-accent), 0.2);
}

/* sidebar */
/* individual modules */
.dark-mode .sidebar-module {
    background: rgb(var(--dark-white));
    border: 1px solid rgb(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}

/* search */
.dark-mode .search-bar {
    background: rgb(var(--dark-white));
    border: 1px solid rgba(var(--dark-black), 0.8);
}
.dark-mode .search-btn {
    background: rgb(var(--dark-secondary-accent));
    border: none;
    color: rgb(var(--dark-black));
}
.dark-mode .search-btn:hover, .dark-mode .search-btn:focus {
    background: rgb(var(--dark-primary-accent));
}

/* tag cloud */
.dark-mode .tag-cloud li a {
    background: rgb(var(--dark-tertiary-accent));
    border: none;
}
.dark-mode .tag-cloud li a:hover, .dark-mode .tag-cloud li a:focus {
    background: rgb(var(--dark-secondary-accent));
}

/* pagination */
.dark-mode .pager > li > a {
    background: rgb(var(--dark-secondary-accent));
    color: rgb(var(--dark-main-text));
    border: 1px solid rgb(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}
.dark-mode .pager > li > a:hover, .dark-mode .pager > li > a:focus {
    background: rgb(var(--dark-white));
    color: rgb(var(--dark-main-text));
}

/* individual pages and posts */
/* page breadcrumb-trail */
.dark-mode .breadcrumb-trail {
    background: rgba(var(--dark-white));
    box-shadow: 0 0 8px rgba(var(--dark-white));
}
.dark-mode .breadcrumb-trail a {
    color: rgb(var(--dark-muted-text));
}
.dark-mode .breadcrumb-trail a:hover, .dark-mode .breadcrumb-trail a:focus {
    border-color: transparent;
    color: rgb(var(--dark-main-text));
}
/* post meta */
.dark-mode .blog-post-meta {
    color: rgb(var(--dark-muted-text));
}
/* styling for content body */
.dark-mode .blog-post.single {
    background: rgb(var(--dark-white));
}

/* image styling */
/* default image */
.dark-mode .wp-block-image img {
    border: 1px solid rgb(var(--dark-secondary-accent));
}

/* comments */
/* individual comment */
.dark-mode .comment {
    background: rgb(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}
/* comment user info */
.dark-mode .avatar {
    background: rgb(var(--dark-white));
}
/* comment form */
.dark-mode .comment-form textarea {
    background: rgb(var(--dark-white));
    color: rgb(var(--dark-black));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}
.dark-mode .comment-form .form-submit .submit {
    background: rgb(var(--dark-secondary-accent));
    color: rgb(var(--dark-main-text));
    border: 1px solid rgb(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}
.dark-mode .comment-form .form-submit .submit:hover, .dark-mode .comment-form .form-submit .submit:focus {
    background: rgb(var(--dark-white));
    color: rgb(var(--dark-main-text));
}

/* related posts */
.dark-mode .related-card {
    background: rgba(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}

/* footer */
.dark-mode .blog-footer {
    color: rgb(var(--dark-main-text));
    background-color: rgb(var(--dark-white));
    box-shadow: 0 0 8px rgb(var(--dark-white));
}
.dark-mode .back-top-btn {
    background: rgb(var(--dark-secondary-accent));
    border: none;
}
.dark-mode .back-top-btn:hover, .dark-mode .back-top-btn:focus {
    background: rgb(var(--dark-primary-accent));
    border: none;
}